{
	"foremanId": "frmn-2",
	"foremanVer": "0.1",
  "assemblyPath": "C:\\projects\\Batch\\BatchTest\\bin\\Debug\\BatchTest.dll",
	"nodes": [{
		"name": "n1",
		"exeOrderId": 1,
		"className": "BatchTest.Test2.MyWorker1"    
	}, {
		"name": "n2",
		"exeOrderId": 2,
		"className": "BatchTest.Test2.MyWorker2"
	}, {
		"name": "n3",
		"exeOrderId": 4,
		"className": "BatchTest.Test2.MyWorker3"    
	}, {
		"name": "n4",
		"exeOrderId": 5,
		"className": "BatchTest.Test2.MyWorker4"    
	}, {
		"name": "n5",
		"exeOrderId": 6,
		"className": "BatchTest.Test2.MyWorker5"    
  }, {
		"name": "n6",
		"exeOrderId": 3,
		"className": "BatchTest.Test2.MyWorker6"    
	}],
	"queues": [],
	"connections": [{
		"from": "n1",
		"to": "n2"
	}, {
		"from": "n2",
		"to": "n6"
	}, {
		"from": "n6",
		"to": "n3"
	}, {
		"from": "n3",
		"to": "n4"
	}, {
		"from": "n4",
		"to": "n5"
	}]
}