{
	"foremanId": "frmn-2",
	"foremanVer": "0.1",
	"assemblies": [{
		"name": "asm1",
		"path": "C:\\projects\\Batch\\BatchTest\\bin\\Debug\\BatchTest.dll"
	}],
	"workers": [{
		"name": "w1",
		"assemblyName": "asm1",
		"className": "BatchTest.Test2.MyWorker1"
	}, {
		"name": "w2",
		"assemblyName": "asm1",
		"className": "BatchTest.Test2.MyWorker2"
	}, {
		"name": "w3",
		"assemblyName": "asm1",
		"className": "BatchTest.Test2.MyWorker3"
	}, {
		"name" : "w4",
		"assemblyName": "asm1",
		"className": "BatchTest.Test2.MyWorker4"
	}, {
		"name" : "w5",
		"assemblyName": "asm1",
		"className": "BatchTest.Test2.MyWorker5"
	}, {
		"name" : "w6",
		"assemblyName": "asm1",
		"className": "BatchTest.Test2.MyWorker6"
	}],
	"nodes": [{
		"name": "n1",
		"worker": "w1",
		"exeOrderId": 1
	}, {
		"name": "n2",
		"worker": "w2",
		"exeOrderId": 2
	}, {
		"name": "n3",
		"worker": "w3",
		"exeOrderId": 4
	}, {
		"name": "n4",
		"worker": "w4",
		"exeOrderId": 5
	}, {
		"name": "n5",
		"worker": "w5",
		"exeOrderId": 6
	}, {
		"name": "n6",
		"worker": "w6",
		"exeOrderId": 3
	}],
	"queues": [],
	"connections": [{
		"from": "n1",
		"to": "n2"
	}, {
		"from": "n2",
		"to": "n6"
	}, {
		"from": "n6",
		"to": "n3"
	}, {
		"from": "n3",
		"to": "n4"
	}, {
		"from": "n4",
		"to": "n5"
	}]
}