.bash*
.HttpRequest/*
.MirrorSearch/*
.contactemail*
.cpanel/*
.dns
.emacs
.fontconfig/*
.ftpquota
.lastlogin
.mysql_history
.rnd
.sqmaildata/*
.subversion/*
.viminfo
access-logs*
etc/*
logs/*
mail/*
ssl/*
tmp/*
www
*Thumbs.db
.vs/*
Batch/bin/*
Batch/obj/*
BatchTest/bin/*
BatchTest/obj/*