{
	"foremanVer": "0.1",
  "assemblyPath": "C:\\projects\\Batch\\BatchTestBL\\bin\\Debug\\BatchTestBL.dll",
  "isNodesLongRunning": true,
	"nodes": [{
		"name": "n1",
		"exeOrderId": 3,
		"className": "BatchTest.Test1.MyWorker1"
	}, {
		"name": "n2",
		"exeOrderId": 2,
		"className": "BatchTest.Test1.MyWorker2"
	}, {
		"name": "n3",
		"exeOrderId": 2,
		"className": "BatchTest.Test1.MyWorker2"
	}, {
		"name": "n4",
		"exeOrderId": 1,
		"className": "BatchTest.Test1.MyWorker3"
	}],
	"queues": [{
		"name": "q1",
    "bufferLimit": 5
	}, {
		"name": "q2"
	}],
	"connections": [{
		"from": "n1",
		"to": "q1"
	}, {
		"from": "q1",
		"to": "n2"
	}, {
		"from": "q1",
		"to": "n3"
	}, {
		"from": "n2",
		"to": "q2"
	}, {
		"from": "n3",
		"to": "q2"
	}, {
		"from": "q2",
		"to": "n4"
	}]
}