{
	"foremanVer": "0.1",
	"NetMQPort": "",
	"workers": [{
		"name": "w1",
		"className": "BatchTest.Program+MyWorker1, BatchTest, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
	}, {
		"name": "w2",
		"className": "BatchTest.Program+MyWorker2, BatchTest, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
	}, {
		"name": "w3",
		"className": "BatchTest.Program+MyWorker3, BatchTest, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
	}],
	"nodes": [{
		"name": "n1",
		"worker": "w1"
	}, {
		"name": "n2",
		"worker": "w2"
	}, {
		"name": "n3",
		"worker": "w2"
	}, {
		"name": "n4",
		"worker": "w3"
	}],
	"queues": [{
		"name": "q1",
		"bufferLimit": 5
	}, {
		"name": "q2"
	}],
	"connections": [{
		"from": "n1",
		"to": "q1"
	}, {
		"from": "q1",
		"to": "n2"
	}, {
		"from": "q1",
		"to": "n3"
	}, {
		"from": "n2",
		"to": "q2"
	}, {
		"from": "n3",
		"to": "q2"
	}, {
		"from": "q2",
		"to": "n4"
	}]
}