{
	"foremanId": "frmn-2",
	"foremanVer": "0.1",
	"workers": [{
		"name": "w1",
		"className": "BatchTest.Test2+MyWorker1, BatchTest, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
	}, {
		"name": "w2",
		"className": "BatchTest.Test2+MyWorker2, BatchTest, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
	}, {
		"name": "w3",
		"className": "BatchTest.Test2+MyWorker3, BatchTest, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
	}, {
		"name" : "w4",
		"className": "BatchTest.Test2+MyWorker4, BatchTest, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
	}, {
		"name" : "w5",
		"className": "BatchTest.Test2+MyWorker5, BatchTest, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
	}, {
		"name" : "w6",
		"className": "BatchTest.Test2+MyWorker6, BatchTest, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
	}],
	"nodes": [{
		"name": "n1",
		"worker": "w1",
		"orderId": 1
	}, {
		"name": "n2",
		"worker": "w2",
		"orderId": 2
	}, {
		"name": "n3",
		"worker": "w3",
		"orderId": 3
	}, {
		"name": "n4",
		"worker": "w4",
		"orderId": 4
	}, {
		"name": "n5",
		"worker": "w5",
		"orderId": 5
	}, {
		"name": "n6",
		"worker": "w6",
		"orderId": 1
	}],
	"queues": [],
	"connections": [{
		"from": "n1",
		"to": "n2"
	}, {
		"from": "n2",
		"to": "n6"
	}, {
		"from": "n6",
		"to": "n3"
	}, {
		"from": "n3",
		"to": "n4"
	}, {
		"from": "n4",
		"to": "n5"
	}]
}