{
	"foremanVer": "0.1",
  "assemblyPath": "C:\\projects\\Batch\\BatchTestBL\\bin\\Debug\\BatchTestBL.dll",
	"nodes": [{
		"name": "n1",
		"exeOrderId": 1,
		"className": "BatchTestBL.Test4.MyWorker1"    
	}, {
		"name": "n2",
		"exeOrderId": 2,
		"className": "BatchTestBL.Test4.MyWorker2"
	}],
	"queues": [],
	"connections": [{
		"from": "n1",
		"to": "n2"
	}]
}