<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SOAP_XML" />
            </basicHttpBinding>
            <wsHttpBinding>
                <binding name="SOAP_MTOM" messageEncoding="Mtom">
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:54249/RemoteContractor.svc/SOAP"
                binding="basicHttpBinding" bindingConfiguration="SOAP_XML"
                contract="BatchRemoteContractor.BatchRemoteContractor" name="SOAP_XML" />
            <endpoint address="http://localhost:54249/RemoteContractor.svc/MTOM"
                binding="wsHttpBinding" bindingConfiguration="SOAP_MTOM" contract="BatchRemoteContractor.BatchRemoteContractor"
                name="SOAP_MTOM" />
        </client>
    </system.serviceModel>
</configuration>